* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(#ffffff, #ebdcff);
}
.container {
  max-width: 87%;
  margin: 0px auto 120px auto;
  padding: 20px 30px;
}

.hero-section {
  margin-top: 100px;
  border: 1px solid #872bff10;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/hero-bg.png);
}

.hero-content {
  max-width: 50%;
}
.hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 36px;
}
.hero-content span {
  color: #f411cf;
}

.hero-content p {
  font-size: 18px;
  font-weight: 500;
  color: #a8a8a8;
  margin-bottom: 36px;
}

.btn {
  background-color: #872bff;
  padding: 16px 32px;
  color: white;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  border: 1px solid #872bff;
  cursor: pointer;
}

.btn-2 {
  padding: 16px 32px;
  color: black;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  border: 1px solid #872bff;
  cursor: pointer;
}

.service-content,
.service-container {
  text-align: center;
}
.service-content p {
  color: #f411cf;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.service-content h2 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 60px;
}
.service-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 105px;
}

.service-card {
  background-color: white;

  border-radius: 30px;
}

.service-card img {
  margin: 80px auto 60px auto;
}

.service-card h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 0 25px;
}
.service-card p {
  font-size: 18px;
  font-weight: 500;
  color: #a8a8a8;
  padding: 0 25px;
  margin-bottom: 82px;
}

.asia {
  background-color: white;
  padding: 48px;
  border-radius: 24px;
}
.asia-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.asia-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.asia-container p {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e70;
  margin-top: 12px;
  margin-bottom: 20px;
}
.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.country-container div {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  padding: 40px;
  border: 1px solid #0e0e0e15;
  border-radius: 16px;
}

.btn-container {
  text-align: center;
  margin-top: 60px;
}
.review-container {
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #0e0e0e25;
}
.review-description {
  font-size: 16px;
  font-weight: 500;
  color: #0e0e0e80;
  margin-bottom: 50px;
}
.review-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
}
.review-content h2 {
  color: #3a3838;
  margin-bottom: 10px;
}
.review-content p {
  margin-bottom: 0px;
}
.review-img {
  position: absolute;
  right: 0;
  opacity: 50%;
}

#review {
  margin-bottom: 60px;
}

footer {
  background-color: white;
}

.rights p {
  font-size: 16px;
  font-weight: 400;
  color: #5b5757;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.footer-image img {
  margin-left: 32px;
  cursor: pointer;
}
